DOCKER_BACKEND_ENV_FILE=./backend/.env.backend.local
FRONTEND_PUBLIC_EMAIL_DOMAINS=zoryo.uk,gmail.com
FRONTEND_SERVER_DJANGO_API_URL=http://backend:8000
FRONTEND_SERVER_JWT_ACCESS_SECONDS=600
FRONTEND_SERVER_JWT_REFRESH_SECONDS=604800
